
<div class="wrapper">

    <div class="container">
        <div class="row" ng-if="!user_logged.user_info.user_hf">

            <div class="panel-group">
                <div class="panel panel-danger">
                    <div class="panel-heading">Permission denied</div>
                    <div class="panel-body">
                        Current user ({{user_logged.username}}) does not belong to any HP/HF. Please contact your administrator!
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <section class="panel panel-default">

                <header class="panel-heading">
                                                    <span class="h4">
                                                        <i class="fa fa-hospital-o"></i> {{user_logged.user_info.user_hf.name}}
                                                    </span>
                </header><br>
                <form role="form" method="post">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="form-group">
                                Phone number:
                                {{user_logged.user_info.user_hf.phone}}
                            </div>
                            <div class="form-group">
                                HF Type:
                                {{user_logged.user_info.user_hf.type}}
                            </div>
                            <div class="form-group">
                                VDC/Municipality:
                                {{user_logged.user_info.user_hf.vdc}}
                            </div>
                            <div class="form-group">
                                Address:
                                {{user_logged.user_info.user_hf.address}}
                            </div>

                            <div class="form-group">
                                Reporting center:
                                <button ng-if="user_logged.user_info.user_hf.reporting_center" class="btn btn-danger btn-sm">{{user_logged.user_info.user_hf.reporting_center.name}}</button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <strong><i class="fa fa-user-md"></i> Contact person:</strong>
                                {{user_logged.user_info.user_hf.person}} (Mobile: {{user_logged.user_info.user_hf.person_mobile}})
                            </div>

                        </div>
                        {{user_logged}}
                    </div>
                    <div class="col-sm-1"></div>
                </form>
            </section>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light" style="width:100%;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Drug Code</th>
                            <th>Drug Name</th>
                            <th class="text-center">ASL</th>
                            <th class="text-center">EOP</th>
                            <th class="text-center">ABS</th>
                            <th class="text-center">New ABS</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="(drung_order,drug) in hf_drugs">
                            <td style="vertical-align: middle;">{{drung_order+1}}</td>
                            <td style="vertical-align: middle;">{{drug.drug_code}}</td>
                            <td style="vertical-align: middle;">{{drug.drug_name}}</td>
                            <td  style="vertical-align: middle;"class="text-center"><span class="badge">{{drug.drug_asl}}</span></td>
                            <td  style="vertical-align: middle;"class="text-center"><span class="badge">{{drug.drug_eop}}</span></td>
                            <td  style="vertical-align: middle;"class="text-center"><span class="badge">{{drug.drug_abs}}</span></td>
                            <td  style="vertical-align: middle;width:10%"class="text-primary text-center">
                                <input type="text" class="form-control input-sm" ng-model="drug.drug_abs_new">
                            </td>
                            <td  style="vertical-align: middle;width:12%"class="h5 text-danger">
                                <!--<a href="#" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Edit</a>-->
                                <a ng-click="register_drug(drug)" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Register</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</div>